.calculator-display {
  letter-spacing: 2px;  font-family: Orbitron;
  background-color: #1E0309;
  width:296px;
  height: 23%;
  margin: 0;
  color:#CE354A;
  padding:17px ;
  font-size: 18px;
  text-align: left;
  text-shadow: 0px 0px 3px ;  
  box-shadow:inset 1px 0px 30px  #000000;
  border-radius: 7px 7px 0px 0px;
  border: solid 2px #97E6FC;
  border-bottom:none;
}

.stackDiv {
  margin-left:10px;
}

