.mathtable { 
  border: solid 2px #97E6FC;
  border-top: none;
  padding-top: 5px #FFFFFF;
  width: 300px;
  height: 380px;
  padding:25px 15px 15px 15px; 
  background: -webkit-gradient(linear, left top, left bottom, from(#364B5C), to(#364B5C)); 
}

.CalculatorKey {
  font-family: sans-serif;
  font-size: 11px;
  margin: 10px;
  border: none;
  width :40px;
  height: 25px;
  color:#FFFFFF;
  background: linear-gradient(#3D5059, #171F23);
  border: solid 1px #595D72;
  border-bottom: solid 1.5px #0f1416;
  box-shadow: inset 0 0 0 0.5px #66696b;
  border-radius: 3px 3px 3px 3px; 
  outline:none; 
}

.CalculatorKey.KeyPad-Enter {
  width :100px;
  height: 25px;
  font-size: 15px;
  color:#FFFFFF;
  background: linear-gradient(#97E6FC, #00618E);
  border: solid 1px #595D72;
  border-bottom: solid 1.5px #0f1416;
  box-shadow: inset 0 0 0 0.5px #66696b;
  border-radius: 0px 0px 10px 10px ;
  text-shadow: 0.4px 1px 2px #0f1416;
  outline:none;
  font-weight: bold;
}

.CalculatorKey.KeyPad-CLR{
  font-family: sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin: 10px;
  border: none;
  width :40px;
  height: 25px;
  color:#071E44;
  background: linear-gradient(#97E6FC, #00618E);
  border: solid 1px #595D72;
  border-bottom: solid 1.5px #0f1416;
  box-shadow: inset 0 0 0 0.5px #66696b;
  border-radius: 3px 3px 3px 3px; 
  outline:none; 
  
}

.CalculatorKey.KeyPad-CHS, 
.CalculatorKey.KeyPad-EEX,
.CalculatorKey.KeyPad-CLX{
  color:#FFFFFF;
  font-size: 13px;
  color:#071E44;
  background: linear-gradient(#97E6FC, #00618E);
  border: solid 1px #595D72;
  border-bottom: solid 1.5px #0f1416;
  box-shadow: inset 0 0 0 0.5px #66696b;
  font-weight: bold;
  border-radius: 3px 3px 3px 3px;
  outline:none;   
}

.CalculatorKey.KeyPad--,
.CalculatorKey.KeyPad-x,
.CalculatorKey.KeyPad-÷,
.CalculatorKey.KeyPad-\+ {
  width:30px;
  font-size: 17px;
  margin-right: 20px;
  color:#071E44;
  background: linear-gradient(#97E6FC, #00618E);
  border: solid 1px #595D72;
  border-bottom: solid 1.5px #0f1416;
  box-shadow: inset 0 0 0 0.5px #66696b;
  text-shadow: none;
  outline:none;
  font-weight: bold;
} 

.CalculatorKey.KeyPad-1,
.CalculatorKey.KeyPad-2,
.CalculatorKey.KeyPad-3,
.CalculatorKey.KeyPad-4,
.CalculatorKey.KeyPad-5,
.CalculatorKey.KeyPad-6,
.CalculatorKey.KeyPad-7,
.CalculatorKey.KeyPad-8,
.CalculatorKey.KeyPad-9,
.CalculatorKey.KeyPad-0,
.CalculatorKey.KeyPad-π,
.CalculatorKey.KeyPad-\. {
  outline:none;
  font-size: 17px;
  margin: 10px 5px 5px 28px;
  border: none;
  width :45px;
  height: 25px;
  background: #DDEDE7;
  background: linear-gradient(#DDEDE7, #DDEDE7);
  border: solid 1px #90ADA1;
  border-bottom: solid 2px #1E2D27;
  box-shadow: inset 0 0 0 1px #e3e3e3;
  color: #1F2626;
  text-shadow: 0 1px 0 #d6d6d6;
  border-radius: 0px 0px 7px 7px;
}